asgiref
beautifulsoup4==4.13.4
cbor==1.0.0
certifi
charset-normalizer
Django
elasticsearch==8.11.0
idna
ijson==3.4.0
inscriptis==2.6.0
ir_datasets==0.5.10
lxml
lz4
numpy>=1.24.0,<2.0.0
pyarrow
python-dateutil
python-dotenv==1.1.0
PyYAML
requests
search_engines==1.0.7
setuptools
six
soupsieve
sqlparse
tqdm
trec-car-tools==2.6
typing_extensions
unlzw3==0.2.3
urllib3
warc3-wet==0.2.5
warc3-wet-clueweb09==0.2.5
wheel
whitenoise
zlib-state==0.1.9
